@charset "UTF-8";

    @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(216, 12%, 8%);
    height: 100vh;
}


.boxContentUn {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 20px;
    width: 300px;
    height: 300px;  
    padding: 10px;
    border-radius: 20px;
    background-color: var(--Dark-Blue);
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(216, 12%, 54%, 0.404);
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height : 30px;
}

.img > img {
    width: 15px;
    height: 15px;
}

.box-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.box-content > h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
}

.box-content > p {
    color: hsl(217, 12%, 63%);
    font-size: 12px;
    font-weight: 400;
}


.selected-avaliation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    background-color: transparent;
    border: none;
    color: hsl(0, 0%, 100%);
    background-color: hsla(216, 12%, 54%, 0.142);
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.buttons.selecionado {
    background-color: hsl(216, 12%, 54%);
}

.star.selecionado {
    background-color: hsl(25, 97%, 53%);
}

.button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    border: none;
    padding: 10px;
    cursor: pointer;
    min-width: 100%;
    transition: 0.4s;
    border-radius: 20px;
    letter-spacing: 2px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}

.submit:hover {
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}

.boxContentTwo {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;  
    padding: 10px;
    row-gap: 40px;
    border-radius: 20px;
    background-color: var(--Dark-Blue);
}

.img-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.img-two > img {
    width: 150px;
    height: 100px;
}

.box-contentInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.info-avaliation {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-color: hsla(216, 12%, 54%, 0.142);
    border-radius: 20px;
    padding: 5px;
    width: 150px;
}

.info-avaliation > p {
    color: hsl(25, 97%, 53%);
    font-size: 12px;
}

.box-contentInfo > h1 {
    color: hsl(0, 0%, 100%);
}

.box-contentInfo > p {
    text-align: center;
    font-size: 15px;
    color: hsl(217, 12%, 63%);
}
